# --- Runtime + package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.bun-*
bun.lockb
package-lock.json

# --- Logs & PIDs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# --- Caches & temp
.cache/
.cache-loader/
.esm-cache/
.tmp/
.temp/
tmp/
temp/
npm-cache/
node_modules/.cache/

# --- Build outputs (general)
dist/
build/
out/
lib/
coverage/
.nyc_output/

# --- TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# --- Env & secrets
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.crt
*.cer
.secret
secrets/*.json

# --- Databases (local/dev)
*.sqlite
*.sqlite3
*.db
*.db-journal
prisma/*.db
prisma/*-journal
prisma/migrations/*-shadow.db

# --- Frameworks
# Next.js
.next/
# Nuxt
.nuxt/
# SvelteKit
.svelte-kit/
# Remix
.remix/
# Gatsby
.cache/
public/*

# Storybook
storybook-static/

# Serverless & IaC outputs
.serverless/
.cdk.out/
.vercel/
.netlify/
functions/.netlify/

# Testing artifacts
.jest/
jest-stare/
playwright-report/
test-results/
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/coverage/

# Monorepo / Tooling
.turbo/
turbo/
lerna-debug.log*
.nx/cache/
.nx/workspace-data/

# Editors & OS junk
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

# Patches / bundles
*.tgz
*.orig
*.rej

# PM2
.pm2/
